* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: sans-serif;
}
.container {
    display: grid;
    justify-items: center;
    grid-template-rows: 120px;
    padding: 50px 380px;
    height: 100vh;
    background-color: #1e202a;
    transition: 0.5s;
}
.whitemode{
    background-color: whitesmoke;
}
.container header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.container header .table_information {
    font-size: 1.5rem;
    font-weight: bold;
}
.container header .title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    color: white;
}
.container header .title__subtitle {
    color: #8b97b1;
}
.container header .dark_mode {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #8b97b1;
}
.dark_mode__title {
    width: 150px;
}
.dark_mode {
    display: flex;
    align-self: start;
    align-items: center;
    width: 200px;
}
.dark_mode__container {
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    height: 25px;
    border: 3px solid whitesmoke;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}
.checkbox {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    opacity: 0;
}
.btn_disabled{
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 10px solid white;
    background-color: white;
    transition: 0.5s;
}
.btn_enabled {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 10px solid #252a41;
    background-color:#252a41;
    transform: translateX(25px);
    transition: 0.5s;
}
.cards_container {
    display: flex;
    gap: 40px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 260px;
    height: 230px;
    background-color: #252a41;
    border-radius: 5px;
}
.card_white {
    background-color: whitesmoke;
}
.card .card_header {
    justify-content: center;
}
.card::before {
    display: block;
    position: absolute;
    background-color: #1ca0f2;
    content: "";
    width: 100%;
    height: 4px;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
}
.card:nth-child(3)::before {
    background-image: linear-gradient(to right, rgb(253, 196, 104), rgb(223, 73, 150))
}
.card:nth-child(4)::before {
    background-color: red;
}

.card .user_name {
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: #8b97b1;
    font-size: 1.2rem;
    font-weight: bold;
}
.user_followers {
    font-size: 6rem;
    color: whitesmoke;
}
.card .user_white {
    color: black;
}
.card .followers_subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: #8b97b1;
}
.followers_ratio {
    margin-top: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #1dab86;
}
.card:nth-child(4) .followers_ratio {
    color: #b33241;
}
.overview__title {
    justify-self: start;
    font-size: 3rem;
    color: #8b97c6;
}
.overview {
    display: grid;
    justify-self: start;
    column-gap: 40px;

    grid-template-columns: repeat(4, 260px);
    grid-template-rows: 150px 150px;
}
.overview__cards {
    display: grid;
    grid-template-areas: "header header"
                        "footer footer";
    padding: 30px;
    height: 130px;
    border-radius: 6px;
    background-color: #252a41;
}
.overview__cards .overview__header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    margin-bottom: 15px;
    font-weight: bold;
    color: #8b97c6;
    font-size: 1.5rem;
}
.overview__cards .overview__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    grid-area: footer;
    font-size: 3rem;
}
.overview__cards .footer__amount {
    color: whitesmoke;
}
.overview__cards .overview__footer .overview__total{
    margin: 0;
    font-size: 1.5rem;
}
.social_icon {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.facebook {
    background-image: url(../assets/facebook.svg);
}
.twitter {
    background-image: url(../assets/Twitter_Social_Icon_Rounded_Square_Color.svg);
}
.instagram {
    background-image: url(../assets/instagram.svg);
}
.youtube {
    background-image: url(../assets/youtube.svg);
}